<form clrForm (ngSubmit)="getMechSetup()">
    <clr-input-container>
        <label>Stock Name</label>
        <input clrInput type="text" [(ngModel)]="stockName"  name="stockName" required />
        <clr-control-error>Must enter stock/ticker name</clr-control-error>
    </clr-input-container>
    <clr-input-container>
        <label>A, B, C</label>
        <input clrInput [(ngModel)]="abc" type="text" name="abc" />
    </clr-input-container>
    <clr-input-container *ngIf="false">
        <label>Quantity</label>
        <input clrInput [(ngModel)]="quantity" type="text" name="quantity" />
    </clr-input-container>
    <clr-input-container>
        <label>$ Amount</label>
        <input clrInput [(ngModel)]="amount" type="text" name="amount" />
    </clr-input-container>
    <button class="btn">Calculate Mech Setup</button>

    <pre>{{ tosOrder }}</pre>

    BUY +10 SPY 100 18 APR 19 288.5 CALL MKT WHEN SPY MARK AT OR ABOVE 287.31 OR SPY MARK AT OR BELOW 287.63
    BUY +10 SPY 100 18 APR 19 288.5 CALL @1.36 LMT WHEN SPY MARK AT OR ABOVE 287.31 OR SPY MARK AT OR BELOW 287.63

    SELL -10 SPY 100 18 APR 19 288.5 CALL MKT GTC WHEN SPY MARK BELOW 287.31
</form>