<form clrForm (ngSubmit)="getMechSetup()">
    <clr-input-container>
        <label>Stock Name</label>
        <input clrInput type="text" [(ngModel)]="stockName"  name="stockName" required />
        <clr-control-error>Must enter stock/ticker name</clr-control-error>
    </clr-input-container>
    <clr-input-container>
        <label>A, B, C</label>
        <input clrInput [(ngModel)]="abc" type="text" name="abc" />
    </clr-input-container>
    <clr-input-container *ngIf="false">
        <label>Quantity</label>
        <input clrInput [(ngModel)]="quantity" type="text" name="quantity" />
    </clr-input-container>
    <clr-input-container>
        <label>$ Amount</label>
        <input clrInput [(ngModel)]="amount" type="text" name="amount" />
    </clr-input-container>
    <button class="btn">Calculate Mech Setup</button>

    <pre>{{ tosOrder }}</pre>
</form>