<div class="main-container">
	<header class="header-3">
		<div class="branding">
			<a class="nav-link">
				<clr-icon shape="home" size="24"></clr-icon>
				<span class="title">Mech-Trader</span>
			</a>
		</div>
	</header>
	<div class="content-container">
		<div class="content-area">
			<h3>Mechanical Entry Order Tool for Think or Swim:</h3>
			<ul>
				<li>Enter the stock name (AAPL, F, /ESM19... etc).</li>
				<li>Enter your A, B, C</li>
				<li>In TOS open Order Entry Tools, set Advanced Order: 1st trgs 3 OCO, Copy the order text below and click the Paste order from clipbord.</li>
			</ul>

			<mech-setup-form></mech-setup-form>

			<!--<app-tradingview-widget></app-tradingview-widget>-->

		</div>
	</div>
</div>
<router-outlet></router-outlet>